html, body{
  min-height: 100%;
  height: 100%;
}

.fill{
  height: calc(100vh - 100px);
}

body {
  padding-top: 60px; /* space for the top nav bar */
  margin-right: 30px;
}

#sourceHubs {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 150px);
}


.InProgressImg{
  width: 80%;
  height: 80%;
}

.InProgressImg_table{
  width: 30%;
  height: 30%;
}

.withBoard{
  border:1px solid silver;  
  height: 45vh; 
  border-radius:10px; 
  margin: 2%
}